ul {
    list-style: none;
    padding: 0;
    display: flex;
}

li {
    margin-right: -50px;
}

.image-container {
    max-width: 100%;
}

.image-container img {
    width: 50%;
    height: auto;
}

#player_ul1 li,
#player_ul2 li,
#player_ul3 li,
#player_ul4 li {
    width: 50%; /* Set the desired width */
    height: auto; /* Set the desired height */
}

#player1{
    position: absolute;
    top: 60px; /* adjust as needed */
    left: 50%; /* adjust as needed */
    transform: translateX(-50%);
}

#player2{
    position: absolute;
    top: 50%;
    right: 10px; /* Adjust as needed */
    transform: translateY(-50%);
}

#player_ul2 {
    display: flex;
    flex-direction: column;
}

#player3{
    position: absolute;
    bottom: 10px; /* adjust as needed */
    left: 50%; /* adjust as needed */
    transform: translateX(-50%);
}

#player4 {
    position: absolute;
    top: 50%;
    left: 10px; /* Adjust as needed */
    transform: translateY(-50%);
}

#player_ul4 {
    display: flex;
    flex-direction: column;
}

#player_ul2 li {
    transform: rotate(90deg); /* Rotate each card 90 degrees clockwise */
}

#player_ul4 li {
    transform: rotate(-90deg); /* Rotate each card 90 degrees counterclockwise */
}

.modal-content1{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border:1px solid #888;
    width: 80%;
}

.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight:bold;
}

.close:hover,
.close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}