
#player1{
    position: absolute;
    top: 60px; /* adjust as needed */
    left: 50%; /* adjust as needed */
    transform: translateX(-50%);
}

#player2{
    position: absolute;
    top: 50%; /* adjust as needed */
    right: 10px; /* adjust as needed */
    transform: translateY(-50%);
}

#player3{
    position: absolute;
    bottom: 10px; /* adjust as needed */
    left: 50%; /* adjust as needed */
    transform: translateX(-50%);
}

#player4{
    position: absolute;
    top: 50%; /* adjust as needed */
    left: 10px; /* adjust as needed */
    transform: translateY(-50%);
}

.modal-content1{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border:1px solid #888;
    width: 80%;
}

.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight:bold;
}

.close:hover,
.close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}